<nav class="site-navigation">
  <a href="#content" class="skip-to-content" title="Skip navigation and header and go straight to the content" tabindex="0">Skip to content</a>
  <ul>
    <li class="title">
      <a title="Experienced Lead Developer" href="/">DAV3</a>
    </li>
    <li>
      <a title="About Dave Mackintosh's" href="/about">About</a>
    </li>
    <li>
      <a title="Dave Mackintosh's blog posts" href="/blog">Blog</a>
    </li>
    <li>
      <a title="Work history" href="/work-history">Work history</a>
    </li>
  </ul>
</nav>
