.post-page {
	main {
		display: flex;
		flex-direction: row;
		container-type: inline-size;

		aside {
			flex: 1;
			padding: 1rem;

			input {
				visibility: hidden;
			}

			.toggle-toc {
				visibility: hidden;
				appearance: none;
				background: transparent;
			}

			&.contents {
				position: sticky;
				top: var(--headerHeight);
				align-self: flex-start;

				strong {
					font-size: 1.2em;
				}

				li {
					padding: 0.5em;

					a {
						font-weight: 700;
					}
				}
			}
		}

		article {
			flex: 3;
			padding-top: var(--headerHeight);

			@container (width > 600px) {
				padding-right: 10%;
			}

			*:target {
				scroll-margin-top: calc(var(--headerHeight) * 1.3);
			}
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {
		main {
			flex-direction: column;

			aside {
				height: 1em;
				transition: height 0.3s linear;
				overflow: hidden;

				.toggle-toc {
					visibility: visible;
				}

				&:target {
					height: auto;
				}
			}
		}
	}
}
